<footer class="footer">
    <div class="container">
      <div class="footer-list">
        <div class="footer-left">
          <h4>Contributor</h4>
          <ul>
            <li>Mahen Mondal</li>
            <li>Ramzan Ahmady</li>
            <li>Zonayed Ahmed</li>
          </ul>
          <p>Created for University Project</p>
        </div>
        <div class="footer-right">
          <h4>Baked By</h4>
          <ul>
            <li>Node JS</li>
            <li>Express</li>
            <li>MongoDB</li>
            <li>Mongoose</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
