<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blood Donors - Donate Blood, Save Life</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
