<nav>
  <div class="navbar">
      <img alt="logo" src="/images/blood.svg" />
      <a href="/">Donors</a>
  </div>
  <ul class="menubar">
    <li><a href="/explore">Explore</a></li>
    <li><a href="/about">About</a></li>
    <% if(user) { %>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/patient">Patient</a></li>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    <% } %>
  </ul>
</nav>
