<% include partials/header  %>
<div class="page about-page">
    <div class="page-navbar">
      <div class="container">
        <% include partials/nav %>
      </div>
    </div>
    <div class="head">
      <div class="container">
        <h1>About</h1>
        <p>All the about has been listed here</p>
      </div>
    </div>
    <section class>
      <div class="container">
        About
      </div>
    </section>
  </div>
<% include partials/footer %>
